<p id="notice"><%= notice %></p>
<nav></nav>
<div class="profilebackground">

</div>
<div class="profilepic">
<a href="#">Add Picture</a>
<a href="#">Change Picture</a>

</div>
<div class="profilemainbody">
  <div class="profilemainnavbar">

  </div>
  <div class="profilemaininfo">
    <h1>Profile Info Header</h1>
    <p>Bio</p>
    <p>User Info
    <% render './profileshow.html.erb' %></p>
    <div class="profileshowmatches">


    </div>
  </div>
</div>
