<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header_signup">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title_signup" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body_signup">
        <%= render './devise/registrations/new.html.erb' %>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
