.title
  .title_inner
    %h1
      Funky fresh inbox UI
    %h2
      Just messing around with some concepts for a UI... and this is what i ended up with! Pure css goodness!
.container
  .container_ui
    .container_ui__heading
      .header_icon
        %img{:src => 'http://www.jamiecoulter.co.uk/dev/codepen/mail.png'}
      %h1
        inbox
      .menu_icon
        .div
        .div
        .div
    %input{:type => 'checkbox',:id => "message-1"}
    %label{:for => "message-1",:href => '#move'}
      .container_ui__item
        .face
          %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg'}
          .color_bar.one
            %p Now Reading
            %span Read
        %h2
          aspca
        .dot.active
        %h3 subj: thanks, you are amazing
        %h4 Your generous donation saved 3 million puppies...
      .container_ui__expand#close
        .heading
          .heading_head
          %label{:for => "message-1"}
            x
        .body
          .user
            .face
              %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg'}
            .details
              %h2 aspca
              %h3 subj: thanks you are amazing
          .content
            %p <b>Email text</b></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et commodo ipsum, ut rhoncus velit. Nullam placerat, ipsum sed pretium varius, magna metus ullamcorper magna, at porta quam libero ut est. Mauris cursus in magna in fermentum. Integer mollis convallis quam, vel dignissim ligula rutrum in.<br/><br/>Pellentesque ut purus porta, gravida tellus et, consectetur massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque egestas convallis urna. Aenean commodo leo eget felis rhoncus blandit. Nam sed odio sed augue lobortis rutrum non vel est..
            %span Reply:
            %textarea
    %input{:type => 'checkbox',:id => "message-2"}
    %label{:for => "message-2"}
      .container_ui__item
        .face
          %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg'}
          .color_bar.two
            %p Now Reading
            %span Read
        %h2 Nobel prize foundation
        .dot
        %h3 subj: Your paper on molecular fusion
        %h4 We are awarding you the nobel...
      .container_ui__expand
        .heading.two
          .heading_head
            %label{:for => "message-2"}
              x
        .body
          .user
            .face
              %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/boheme/128.jpg'}
            .details
              %h2 Nobel prize foundation
              %h3 subj: Your paper on molecular
          .content
            %p <b>Email text</b></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et commodo ipsum, ut rhoncus velit. Nullam placerat, ipsum sed pretium varius, magna metus ullamcorper magna, at porta quam libero ut est. Mauris cursus in magna in fermentum. Integer mollis convallis quam, vel dignissim ligula rutrum in.<br/><br/>Pellentesque ut purus porta, gravida tellus et, consectetur massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque egestas convallis urna. Aenean commodo leo eget felis rhoncus blandit. Nam sed odio sed augue lobortis rutrum non vel est..
            %span Reply:
            %textarea
    %input{:type => 'checkbox',:id => "message-3"}
    %label{:for => "message-3"}
      .container_ui__item
        .face
          %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/alexmarin/128.jpg'}
          .color_bar.three
            %p Now Reading
            %span Read
        %h2 megan fox
        .dot.active
        %h3 subj: i miss you
        %h4 Where have you been? I've been trying to call you...
      .container_ui__expand
        .heading.three
          .heading_head
            %label{:for => "message-3"}
              x
        .body
          .user
            .face
              %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/alexmarin/128.jpg'}
            .details
              %h2 megan fox
              %h3 subj: i miss you
          .content
            %p <b>Email text</b></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et commodo ipsum, ut rhoncus velit. Nullam placerat, ipsum sed pretium varius, magna metus ullamcorper magna, at porta quam libero ut est. Mauris cursus in magna in fermentum. Integer mollis convallis quam, vel dignissim ligula rutrum in.<br/><br/>Pellentesque ut purus porta, gravida tellus et, consectetur massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque egestas convallis urna. Aenean commodo leo eget felis rhoncus blandit. Nam sed odio sed augue lobortis rutrum non vel est..
            %span Reply:
            %textarea
    %input{:type => 'checkbox',:id => "message-4"}
    %label{:for => "message-4"}
      .container_ui__item
        .face
          %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg'}
          .color_bar.four
            %p Now Reading
            %span Read
        %h2 Linkedin
        .dot.active
        %h3 subj: Message from bill gates
        %h4 I want to add you to my personal network...
      .container_ui__expand
        .heading.four
          .heading_head
            %label{:for => "message-4"}
              x
        .body
          .user
            .face
              %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/brynn/128.jpg'}
            .details
              %h2 Linkedin
              %h3 Message from bill gates
          .content
            %p <b>Email text</b></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et commodo ipsum, ut rhoncus velit. Nullam placerat, ipsum sed pretium varius, magna metus ullamcorper magna, at porta quam libero ut est. Mauris cursus in magna in fermentum. Integer mollis convallis quam, vel dignissim ligula rutrum in.<br/><br/>Pellentesque ut purus porta, gravida tellus et, consectetur massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque egestas convallis urna. Aenean commodo leo eget felis rhoncus blandit. Nam sed odio sed augue lobortis rutrum non vel est..
            %span Reply:
            %textarea
    %input{:type => 'checkbox',:id => "message-5"}
    %label{:for => "message-5"}
      .container_ui__item
        .face
          %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg'}
          .color_bar.five
            %p Now Reading
            %span Read
        %h2 Jesse pinkman
        .dot
        %h3 subj: Let's get together sometime yo!
        %h4 Hey, how's it going? You free at all this weekend...
      .container_ui__expand
        .heading.five
          .heading_head
            %label{:for => "message-5"}
              x
        .body
          .user
            .face
              %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/allisongrayce/128.jpg'}
            .details
              %h2 Jesse pinkman
              %h3 subj: Let's get together sometime yo!
          .content
            %p <b>Email text</b></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et commodo ipsum, ut rhoncus velit. Nullam placerat, ipsum sed pretium varius, magna metus ullamcorper magna, at porta quam libero ut est. Mauris cursus in magna in fermentum. Integer mollis convallis quam, vel dignissim ligula rutrum in.<br/><br/>Pellentesque ut purus porta, gravida tellus et, consectetur massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque egestas convallis urna. Aenean commodo leo eget felis rhoncus blandit. Nam sed odio sed augue lobortis rutrum non vel est..
            %span Reply:
            %textarea
    %input{:type => 'checkbox',:id => "message-6"}
    %label{:for => "message-6"}
      .container_ui__item
        .face
          %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg'}
          .color_bar.six
            %p Now Reading
            %span Read
        %h2 James cameron
        .dot.active
        %h3 subj: avatar 2
        %h4 Please consider writing the script...
      .container_ui__expand
        .heading.six
          .heading_head
            %label{:for => "message-6"}
              x
        .body
          .user
            .face
              %img{:src => 'https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg'}
            .details
              %h2 James cameron
              %h3 subj: avatar 2
          .content
            %p <b>Email text</b></br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce et commodo ipsum, ut rhoncus velit. Nullam placerat, ipsum sed pretium varius, magna metus ullamcorper magna, at porta quam libero ut est. Mauris cursus in magna in fermentum. Integer mollis convallis quam, vel dignissim ligula rutrum in.<br/><br/>Pellentesque ut purus porta, gravida tellus et, consectetur massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque egestas convallis urna. Aenean commodo leo eget felis rhoncus blandit. Nam sed odio sed augue lobortis rutrum non vel est..
            %span Reply:
            %textarea
