<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" />

<div class="row">
  <div class="aboutus">
    ABOUT US

  </div>
  <div class="example-1 card">
    <div class="wrapper">
      <div class="date">
        <a href="#" class="fa fa-github-alt fa-2x"><span class="day"></span></a><br>
        <a href="#" class="fa fa-linkedin fa-2x"><span class="month"></span></a><br>
        <a href="#" class="fa fa-envelope-o fa-2x"><span class="year"></span></a>
      </div>
      <div class="data">
        <div class="content">
            <h1 class="title"><a href="#">Anika Abreu</h1>
            <span class="author">FRONT END DEVELOPER</span>
          <label for="show-menu" class="menu-button"><span></span></label>
        </div>
        <input type="checkbox" id="show-menu" />

      </div>
    </div>
  </div>
  <div class="example-2 card">
    <div class="wrapper">
      <div class="header">
        <ul class="menu-content">
          <li>
            <a href="#" class="fa fa-github-alt fa-2x"></a>
          </li>
          <li><a href="#" class="fa fa-linkedin fa-2x"><span></span></a></li>
          <li><a href="#" class="fa fa-envelope-o fa-2x"><span></span></a></li>
        </ul>
      </div>
      <div class="data">
        <div class="content">

          <h1 class="title"><a href="#">Daniel Villegas</a></h1>
          <p class="text">FULL STACK DEVELOPER</p>

        </div>
      </div>
    </div>
  </div>
</div>
