<main class="cd-main">
	<ul class="cd-gallery">
		<li class="cd-item">
			<a href="item-1.html">
				<div>
					<h2>Title 1</h2>
					<p>Lorem ipsum dolor sit amet, consectetur.</p>
					<b>View More</b>
				</div>
			</a>
		</li>

		<li class="cd-item">
			<!-- content here -->
		</li>

		<!-- additional list items here -->
	</ul> <!-- .cd-gallery -->
</main> <!-- .cd-main -->

<div class="cd-folding-panel">

	<div class="fold-left"></div> <!-- this is the left fold -->

	<div class="fold-right"></div> <!-- this is the right fold -->

	<div class="cd-fold-content">
		<!-- content will be loaded using javascript -->
	</div>

	<a class="cd-close" href="#0"></a>
</div> <!-- .cd-folding-panel -->
