// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//////////LANDING PAGE NEW.HTML/////////////
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.questionbox {
  background-color: #B6D276;
  height: 66vh;
  width: 100vw;
  margin:  auto;
  padding: 0;
}
h1 {
  margin: 50px;
}

#welcome {
  padding: 30px;
  font-size: 3.2em;
}

#welcometxt {
  font-size: 25px;
  margin: 50px;

}
@font-face {
	font-family: 'Raleway';
	src: font-url("raleway.woff");
}

.formformatstyle {
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway';
  text-align: center;
// font-size: 2em;
}

// $color: #B6D276;

#profile_gender {
  // background-color: #B6D276;
  width: 50vh;
  height: 6vh;
  font-size: 16px;
  font-family: 'Raleway';
}

#profile_gender_pref {
  width: 50vh;
  height: 6vh;
  font-size: 16px;
  font-family: 'Raleway';
}

#profile_age {
  width: 49vh;
  height: 5.4vh;
  border-radius: 6px;
  font-size: 16px;
  font-family: 'Raleway';
  // font-weight: 600;
}

//////////////NAV BAR///////////////////////////

#nav-trigger {
  display: none;
  text-align: center;
}

  #nav-trigger span {
    display: inline-block;
    padding: 10px 30px;
    background-color: white;
    color: #3C3530;
    cursor: pointer;
    text-transform: uppercase; }
    #nav-trigger span:after {
      display: inline-block;
      margin-left: 10px;
      width: 20px;
      height: 10px;
      content: "";
      border-left: solid 10px transparent;
      border-top: solid 10px #fff;
      border-right: solid 10px transparent; }
    #nav-trigger span:hover {
      background-color: #e6002d; }
    #nav-trigger span.open:after {
      border-left: solid 10px transparent;
      border-top: none;
      border-bottom: solid 10px black;
      border-right: solid 10px transparent; }

nav {
  margin-bottom: 30px; }

nav#nav-main {
  background-color: white;
  padding: 10px 0; }
  nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left; }
  nav#nav-main li {
    display: inline-block;
    border-right: solid 1px white;
    padding: 0 5px; }
    nav#nav-main li:last-child {
      border-right: none; }
  nav#nav-main a {
    text-decoration: none;
    display: block;
    color: #3C3530;
    padding: 10px 30px; }
    nav#nav-main a:hover {
      background-color: white;
      color: #F16B6F; }

nav#nav-mobile {
  position: relative;
  display: none; }
  nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white; }
  nav#nav-mobile li {
    display: block;
    padding: 5px 0;
    margin: 0 5px;
    border-bottom: solid 1px white; }
    nav#nav-mobile li:last-child {
      border-bottom: none; }
  nav#nav-mobile a {
    text-decoration: none;
    display: block;
    color: #3C3530;
    padding: 10px 30px; }
    nav#nav-mobile a:hover {
      background-color: white;
      color: #F16B6F; }

/* =Media Queries
-------------------------------------------------------------- */
