/*// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


  .navbarlogo{
  	font-family: 'Isabella Script';
    color: white;
    font-size: 61px;
    padding: 24px 10px 15px;

  }
  .fixed-nav-bar ul {
    color: white;
    font-family: 'Raleway';
    font-size: 25px;
    list-style-type: none;
    margin: 0;
  	padding: 29px;
    position: relative;
    left: 225px;
  	list-style: none;

   }

  .fixed-nav-bar ul a {
  	text-decoration: none;
  }

  /*CARD STYLING*/

div.venuepic {
  /*display: flex;*/
}

div.venuepicrender{
    /*display: flex;*/
}

/*img.itemven {
  /*flex-grow: 3;*/
  /*flex: 1 1 300px;*/
  /*display: table-cell;
  margin: 0 10px;
  padding: 10px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);

}*/

.renderpicven {
  /*display: flex;*/
  height: 50vh;

}

*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em;

}

.item {
 display: inline-block;
 padding:  .25rem;
 width:  100%;
}

.well {
 position:relative;
 display: block;
}

.well img {
 display: flex;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
#ghost-button{
  margin-right: 10px;
  display: inline-block;
  width: 125px;
  padding: 8px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
#ghost-button:hover,
#ghost-button:active {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

#restaurant-div {
  border: 2px solid black;
  height: auto;
  width: 400px;
  float: left;
}

.main-rest-div {
  margin: auto;
}
