/*// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

#ghost-button{
  margin-right: 10px;
  display: inline-block;
  width: 125px;
  padding: 8px;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.2s ease-out,
              color 0.2s ease-out;
}
#ghost-button:hover,
#ghost-button:active {
  background-color: black;
  color: white;
  transition: background-color 0.3s ease-in,
              color 0.3s ease-in;
}

#restaurant-div {
  border: 2px solid black;
  height: auto;
  width: 400px;
  float: left;
}
