// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bourbon";
@font-face {
	font-family: 'Isabella Script';
	src: font-url("Isabella_Script.woff");
}

@font-face {
	font-family: 'Raleway';
	src: font-url("raleway.woff");
}

body {
  font-family: 'Raleway';
  background-size: auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.ParallaxVideo{
height: 300px;
padding-bottom: 50px;
padding-top: 50px;
}
.ParallaxVideo video{

min-width: 100%;
position: fixed;
top:0;
z-index: -999;
}
.ParallaxVideo h1 {
color: #fff;
font-size: 36px;
font-weight: 200;
text-align: center;
font-weight: bold;
font-family: 'Raleway';
}

h1.reliciouslogotag {
  color: #FFFCF0;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 138px auto;
  font-size: 20em;
  font-family: 'Isabella Script';
}


//RESGISTER/LOGIN ANIMATION/STYLING//

.unstylebutton {
  text-decoration: none;
  border: none;
  background: transparent;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
}

.signupmainbox {
  text-align: -webkit-center;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;

}

#linkdecomainpage1 {
  text-decoration: none;
  color: #FFFCF0;
  font-size:1.5em;
  font-weight: bold;

}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


#linkdecomainpage2 {
  text-decoration: none;
  color: #FFFCF0;
  font-size:1.5em;
  padding-left: 10px;
  font-weight: bold;

}

#linkdecomainpage2:hover{
  text-decoration: none;
}

#linkdecomainpage:visited{
  text-decoration: none;
}


///// Login CSS/////

h4#myModalLabel {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

div.modal-header {
	border: none;
	background-color: rgba(165,222,109,.6);
// background-color: #8FCD90;
// color: white;
// text-shadow: 10px rgba(7,203,201,.5);

}

div.modal-footer {
  border: none;
	font-weight: lighter;
}

.modal-transparent {
  background: transparent;
	background-image: url('bigheartgreen.png');
	background-size: contain;
	// background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.modal-transparent .modal-content {
  background: transparent;
	color: white;
}
.modal-backdrop.modal-backdrop-transparent {
  background: black;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .6;
  filter: alpha(opacity=60);
}


.modal-body {
  font-family: 'Arial';
  font-size: 20px;
  color: black;
	background-color: rgba(165,222,109,.6);
  // background-color: #A5DE6D;
}

input#user_email {

	color: black;
	font-size: 15px;
	font-weight: lighter;
}

input#user_password {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

input[type="submit"] {
  background: transparent;
  color: white;
  border-color: white;
  background-color: #A5DE6D;
  font-weight: lighter;
	font-size: 15px;
}

input[type="submit"]:hover {

  background-color: #8FCD90;
}

.fieldrem {
  float:left;
  color: white;
  position: relative;
  left: 20px;
  margin-top: 30px;
  font-weight: lighter;
}

#recoverpw {
  float:right;
  position: relative;
  right: 20px;
  text-decoration: none;
  margin-top: 30px;

}


///// Register CSS//////

.modal-transparent_register {
  background: transparent;
	background-image: url('bigheartgreen.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.modal-transparent_register .modal-body {
	background: transparent;
  font-family: 'Arial';
  font-size: 20px;
  color: black;
	background-color: rgba(165,222,109,.6);
  // background-color: #A5DE6D;
}

.modal-transparent_register .modal-content {
  background: transparent;
	color: white;
}
.modal-backdrop.modal-backdrop-transparent_register {
  background: black;
}

.form-group1name {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.field2pw1 {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.field3pwconf {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.fieldreg1email {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.actions1signup {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

input.btn.btn-primary {
	background: transparent;
	color: white;
	border-color: white;
	background-color: #A5DE6D;
	font-weight: lighter;
	font-size: 15px;
}

input.btn.btn-primary:hover {

  background-color: #8FCD90;
}

.modal-transparent_register .modal-footer {
	border: none;
	background-color: rgba(165,222,109,.6);
}


//MEDIA QUERIES//
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      font-size: 7.5em;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      font-size: 7em;
      position: relative;
      bottom: 26px;
      margin: 187px auto;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 7em;
    position: relative;
    bottom: 26px;
    margin: 187px auto;
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 7em;
    position: relative;
    bottom: 26px;
    margin: 187px auto;
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      font-size: 7.5em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .logo {
      font-size: 8.5em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .logo {
      font-size: 8.5em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .logo {
      font-size: 8.5em;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  body {
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
    height: 117vh;
    width: 100vh;
  }

.logo {
    text-align: -webkit-left;
    padding: 98px;
    position: relative;
    left: 117px;
    font-size: 19.5em;
  }
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

    .logo {
      font-size: 7.5em;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .logo {
      font-size: 7.5em;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .logo {
      font-size: 7.5em;
      margin: 207px auto;
      position: relative;
      left: 41px;
    }
}
/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
      margin: 207px auto;
      position: relative;
      left: 41px;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
      margin: 207px auto;
      position: relative;
      left: 41px;
    }
}


///////////////////////////////////////////////////////

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
// Variables
$regal-blue: #034378;
$san-juan: #2d4e68;
$bermuda: #77d7b9;
$white: #fff;
$black: #000;
$open-sans: 'Open Sans',
sans-serif;
// clear-fix mixin
@mixin cf {
  &::before,
  &::after {
    content: '';
    display: table;
  }
  &::after {
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to right, $regal-blue, $san-juan);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  font-family: $open-sans;
}

a {
  text-decoration: none;
}

h1 {
  font-family: $open-sans;
  font-weight: 300;
}

.row {
  max-width: 900px;
  margin: 50px auto 0;
}

// Base styles
.aboutus {
	font-family: 'Raleway';
	font-size: 40px;
	color: white;
	font-weight: bolder;
	text-align: center;
	padding-bottom: 50px;
}
.card {
  float: left;
  padding: 0 1.7rem;
  width: 50%;
  .menu-content {
    @include cf;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline-block;
    }
    a {
      color: $white;
    }
    span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: 'Open Sans';
      transform: translate(-50%, 0);
    }
  }
  .wrapper {
    background-color: $white;
    min-height: 540px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba($black, 0.3), 0 15px 12px rgba($black, 0.2);
    &:hover {
      .data {
        transform: translateY(0);
      }
    }
  }
  .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(calc(70px + 1em));
    transition: transform 0.3s;
    .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
  }
  .author {
    font-size: 15px;
		color: lighten($black, 50%);
  }
  .title {
    margin-top: 10px;
  }
  .text {
    height: 70px;
    margin: 0;
  }
  input[type='checkbox'] {
    display: none;
  }
  input[type='checkbox']:checked + .menu-content {
    transform: translateY(-60px);
  }
}

// First example styles
.example-1 {
  .wrapper {
    background: url('AnikaAbreu (1).jpg') center / cover no-repeat;
  }
  .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: $bermuda;
    color: $white;
    padding: 0.8em;
    span {
      display: block;
      text-align: center;
    }
    .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba($black, 0.18);
    }
    .month {
      text-transform: uppercase;
    }
    .month,
    .year {
      font-size: 12px;
    }
  }
  .content {
    background-color: $white;
    box-shadow: 0 5px 30px 10px rgba($black, 0.3);
  }
  .title {
    a {
      color: lighten($black, 50%);
    }
  }
	.wrapper:before {
		background: none;
	}
  .menu-button {
    position: absolute;
    z-index: 999;
    top: 16px;
    right: 16px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    span {
      width: 5px;
      height: 5px;
      background-color: lighten($black, 50%);
      color: lighten($black, 50%);
      position: relative;
      display: inline-block;
      border-radius: 50%;
      &::after,
      &::before {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        background-color: currentColor;
        position: absolute;
        border-radius: 50%;
      }
      &::before {
        left: -10px;
      }
      &::after {
        right: -10px;
      }
    }
  }
  .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    transition: transform 0.3s;
    transform: translateY(0);
    li {
      width: 33.333333%;
      float: left;
      background-color: $bermuda;
      height: 60px;
      position: relative;
    }
    a {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
    span {
      top: -10px;
    }
  }
}

// Second example styles
.example-2 {
  .wrapper {
    background: url('DanielVillegas.jpg') center / cover no-repeat;
    &:hover {
      .menu-content {
        span {
          transform: translate(-50%, -10px);
          opacity: 1;
        }
      }
    }
  }
  .header {
    @include cf;
    color: $white;
    padding: 1em;
    .date {
      float: left;
      font-size: 12px;
    }
  }
  .menu-content {
    float: right;
    li {
      margin: 0 5px;
      position: relative;
    }
    span {
      transition: all 0.3s;
      opacity: 0;
    }
  }
	.wrapper:before {
		background: none;
	}
  .data {
    color: $white;
    transform: translateY(calc(70px + 4em));
  }
  .title {
    a {
			padding-top: 40px;
      color: $white;
    }
  }
  .button {
    display: block;
    width: 100px;
    margin: 2em auto 1em;
    text-align: center;
    font-size: 12px;
    color: $white;
    line-height: 1;
    position: relative;
    font-weight: 700;
    &::after {
      content: '\2192';
      opacity: 0;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      transition: all 0.3s;
    }
    &:hover {
      &::after {
        transform: translate(5px, -50%);
        opacity: 1;
      }
    }
  }
}
