// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @import "bourbon";
@font-face {
	font-family: 'Isabella Script';
	src: font-url("Isabella_Script.woff");
}

@font-face {
	font-family: 'Raleway';
	src: font-url("raleway.woff");
}

body {
  font-family: 'Raleway';
  background-size: auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0 auto;
}

.ParallaxVideo{
height: 300px;
padding-bottom: 50px;
padding-top: 50px;
}
.ParallaxVideo video{

min-width: 100%;
position: fixed;
top:0;
z-index: -999;
}
.ParallaxVideo h1 {
color: #fff;
font-size: 36px;
font-weight: 200;
text-align: center;
font-weight: bold;
font-family: 'Raleway';
}

h1.reliciouslogotag {
  color: #FFFCF0;
  font-weight: 500;
  text-align: center;
  padding: 0;
  margin: 138px auto;
  font-size: 20em;
  font-family: 'Isabella Script';
}


//RESGISTER/LOGIN ANIMATION/STYLING//

.unstylebutton {
  text-decoration: none;
  border: none;
  background: transparent;
  font-family: 'Raleway';
  font-weight: bold;
  color: white;
}

.signupmainbox {
  text-align: -webkit-center;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;

}

#linkdecomainpage1 {
  text-decoration: none;
  color: #FFFCF0;
  font-size:1.5em;
  font-weight: bold;

}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}


#linkdecomainpage2 {
  text-decoration: none;
  color: #FFFCF0;
  font-size:1.5em;
  padding-left: 10px;
  font-weight: bold;

}

#linkdecomainpage2:hover{
  text-decoration: none;
}

#linkdecomainpage:visited{
  text-decoration: none;
}


///// Login CSS/////

h4#myModalLabel {
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 30px;
  margin: 0;
}

div.modal-header {
	border: none;
	background-color: rgba(165,222,109,.6);
// background-color: #8FCD90;
// color: white;
// text-shadow: 10px rgba(7,203,201,.5);

}

div.modal-footer {
  border: none;
	font-weight: lighter;
}

.modal-transparent {
  background: transparent;
	background-image: url('bigheartgreen.png');
	background-size: contain;
	// background-size: 50%;
	background-position: center;
	background-repeat: no-repeat;
}

.modal-transparent .modal-content {
  background: transparent;
	color: white;
}
.modal-backdrop.modal-backdrop-transparent {
  background: black;
}
.modal-backdrop.modal-backdrop-transparent.in {
  opacity: .6;
  filter: alpha(opacity=60);
}


.modal-body {
  font-family: 'Arial';
  font-size: 20px;
  color: black;
	background-color: rgba(165,222,109,.6);
  // background-color: #A5DE6D;
}

input#user_email {

	color: black;
	font-size: 15px;
	font-weight: lighter;
}

input#user_password {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

input[type="submit"] {
  background: transparent;
  color: white;
  border-color: white;
  background-color: #A5DE6D;
  font-weight: lighter;
	font-size: 15px;
}

input[type="submit"]:hover {

  background-color: #8FCD90;
}

.fieldrem {
  float:left;
  color: white;
  position: relative;
  left: 20px;
  margin-top: 30px;
  font-weight: lighter;
}

#recoverpw {
  float:right;
  position: relative;
  right: 20px;
  text-decoration: none;
  margin-top: 30px;

}


///// Register CSS//////

.modal-transparent_register {
  background: transparent;
	background-image: url('bigheartgreen.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.modal-transparent_register .modal-body {
	background: transparent;
  font-family: 'Arial';
  font-size: 20px;
  color: black;
	background-color: rgba(165,222,109,.6);
  // background-color: #A5DE6D;
}

.modal-transparent_register .modal-content {
  background: transparent;
	color: white;
}
.modal-backdrop.modal-backdrop-transparent_register {
  background: black;
}

.form-group1name {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.field2pw1 {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.field3pwconf {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.fieldreg1email {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

.actions1signup {
	color: black;
	font-size: 15px;
	font-weight: lighter;
}

input.btn.btn-primary {
	background: transparent;
	color: white;
	border-color: white;
	background-color: #A5DE6D;
	font-weight: lighter;
	font-size: 15px;
}

input.btn.btn-primary:hover {

  background-color: #8FCD90;
}

.modal-transparent_register .modal-footer {
	border: none;
	background-color: rgba(165,222,109,.6);
}

// ABOUT US//

.cd-main {
  overflow-x: hidden;
}
.cd-main > * {
  transition: transform 0.5s 0.4s;
}
.cd-main.fold-is-open > * {
  /* on mobile - translate .cd-main content to the right when the .cd-folding-panel is open */
  transform: translateX(100%);
  transition: transform 0.5s 0s;
}

.cd-folding-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  overflow: hidden;
  transition: visibility 0s 0.9s;
}
.cd-folding-panel .fold-left,
.cd-folding-panel .fold-right {
  /* the :after elements of .fold-left and .fold-right are the 2 fold sides */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* enable a 3D-space for children elements */
  perspective: 2000px;
}
.cd-folding-panel .fold-right {
  perspective-origin: 0% 50%;
}
.cd-folding-panel .fold-left {
  /* on mobile only the right fold side is visible */
  display: none;
}
.cd-folding-panel .fold-right::after {
  /* 2 fold sides */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: right center;
  transform: translateX(-100%) rotateY(-90deg);
  transition: transform 0.5s 0.4s, background-color 0.5s 0.4s;
}
.cd-folding-panel.is-open {
  visibility: visible;
  transition: visibility 0s 0s;
}
.cd-folding-panel.is-open .fold-right::after {
  transform: translateX(0);
  transition: transform 0.5s 0s, background-color 0.5s 0s;
}

media only screen and (min-width: 1100px) {
  .cd-item {
    width: 50%;
    float: left;
    transition: transform 0.5s 0.4s;
  }
  .fold-is-open .cd-item {
    transition: transform 0.5s 0s;
    transform: translateX(-400px);
  }
  .fold-is-open .cd-item:nth-of-type(2n) {
    transform: translateX(400px);
  }
}

@media only screen and (min-width: 1100px) {
  .cd-folding-panel {
    left: 50%;
    transform: translateX(-50%);
    width: 800px;
  }
  .cd-folding-panel .fold-left,
  .cd-folding-panel .fold-right {
    width: 50%;
    float: left;
    height: 100%;
  }
  .cd-folding-panel .fold-right {
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    perspective-origin: 0% 50%;
  }
  .cd-folding-panel .fold-right::after {
    transform-origin: right center;
    transform: translateX(-100%) rotateY(-90deg);
  }
  .cd-folding-panel .fold-left {
    display: block;
    /* change perspective-origin so that the 2 fold sides have the same vanishing point */
    perspective-origin: 100% 50%;
  }
  .cd-folding-panel .fold-left::after {
    transform-origin: left center;
    transform: translateX(100%) rotateY(90deg);
  }
  .cd-folding-panel.is-open .fold-right::after,
  .cd-folding-panel.is-open .fold-left::after {
    transform: translateX(0);
    transition: transform 0.5s 0s, background-color 0.5s 0s;
  }
}


//MEDIA QUERIES//
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      font-size: 7.5em;
    }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      font-size: 7em;
      position: relative;
      bottom: 26px;
      margin: 187px auto;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    font-size: 7em;
    position: relative;
    bottom: 26px;
    margin: 187px auto;
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    font-size: 7em;
    position: relative;
    bottom: 26px;
    margin: 187px auto;
}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .logo {
      font-size: 7.5em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .logo {
      font-size: 8.5em;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .logo {
      font-size: 8.5em;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .logo {
      font-size: 8.5em;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
  body {
    background-size: cover;
    // background-position: center;
    background-repeat: no-repeat;
    height: 117vh;
    width: 100vh;
  }

.logo {
    text-align: -webkit-left;
    padding: 98px;
    position: relative;
    left: 117px;
    font-size: 19.5em;
  }
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

    .logo {
      font-size: 7.5em;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .logo {
      font-size: 7.5em;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
    .logo {
      font-size: 7.5em;
      margin: 207px auto;
      position: relative;
      left: 41px;
    }
}
/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    .logo {
      font-size: 7.5em;
      margin: 207px auto;
      position: relative;
      left: 41px;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
    .logo {
      font-size: 7.5em;
      margin: 207px auto;
      position: relative;
      left: 41px;
    }
}

/* =Media Queries
-------------------------------------------------------------- */
// @media all and (max-width: 900px)
//  @media (max-width: 400px){
//   #nav-trigger {
//     display: block;
//   }
//
//   nav#nav-main {
//     display: none; }
//
//   nav#nav-mobile {
//     display: block; }
// }
